<ion-content [fullscreen]="true">
    <app-header></app-header>
    <div class="banner">
        <h1 class="banner__title">Únete</h1>
        <ion-breadcrumbs class="banner__breadcrumbs">
            <ion-breadcrumb class="banner__item" href="#">
                Inicio
            </ion-breadcrumb>
            <ion-breadcrumb class="banner__item" href="#electronics">
                Únete
            </ion-breadcrumb>
        </ion-breadcrumbs>
    </div>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" class="contact__info">
                <div class="header">
                    <p class="header__section">Únete</p>
                    <h1 class="header__title">Únete a Serpas Consulting El Salvador</h1>
                </div>
                <p class="ion-padding-bottom text">
                    Nuestra firma constantemente requiere de nuevos profesionales de calidad y altamente
                    capacitados. No obstante, también brindamos oportunidad a jóvenes estudiantes para que puedan
                    ingresar al ámbito laboral de El Salvador. Los perfiles que nuestra firma requiere son
                    asistentes contables, Contadores Generales, Encargados de Auditoría y Asistentes de Auditoría.
                    <br><br>
                    Si se encuentra interesado en ingresar a nuestra base de datos para futuras evaluaciones, por
                    favor, compartir su hoja de vida al correo <ion-text color="primary" class="font-bold">
                        <a href="mailto:contacto@serpasconsulting.com"> contacto@serpasconsulting.com</a>
                    </ion-text>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-footer></app-footer>
</ion-content>