<ion-content>
    <app-header></app-header>
    <div class="banner">
        <h1 class="banner__title">Servicios</h1>
        <ion-breadcrumbs class="banner__breadcrumbs">
            <ion-breadcrumb class="banner__item" href="#">
                Inicio
            </ion-breadcrumb>
            <ion-breadcrumb class="banner__item" href="#electronics">
                Servicios
            </ion-breadcrumb>
        </ion-breadcrumbs>
    </div>
    <ion-grid class="container" fixed>
        <ion-row>
            <ion-col size="12">
                <div class="header d-flex">
                    <div class="w-50">
                        <p class="header__section">Nuestro servicios</p>
                        <h1 class="header__title">Lo que ofrecemos</h1>
                    </div>
                    <h5 class="header__extra hide-app">
                        Soluciones a la medida en todas las áreas de servicios que brindamos.
                    </h5>
                </div>
                <ion-grid class="ion-margin-top ion-no-padding" style="margin: 0 -16px;" fixed>
                    <ion-row>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="document-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">Auditoria</h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditoría de Estados Financieros
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditoría de Sistemas
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditoría de Áreas Especificas
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditoría Interna Co-sourcing
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditorías Especiales
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="man-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">Gestión humana</h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Búsqueda, selección y reclutamiento de
                                        personal contable de cualquier nivel
                                        jerárquico.
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Análisis y creación de los descriptores
                                        de puestos.
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="share-social-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">Outsourcing</h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Contabilidad Financiera y Costos
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Servicios contables en la Nube.
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="chatbubbles-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">Consultoria</h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Conversión de Estados Financieros a
                                        Normas Internacionales de Información Financiera.
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Revisión y evaluación de políticas y
                                        procedimientos, control interno y gobierno corporativo
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Libros legales.
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Elaboración de Manuales de Políticas y
                                        Procedimientos Contables y
                                        Administrativos
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Evaluación de la seguridad de la
                                        información de las compañías
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="cash-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">Impuestos</h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditoría Fiscal
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Asesoría integral en el área de
                                        impuestos
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Evaluación de Impuestos y Planificación
                                        Fiscal
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Consultoría Tributaria
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Estudios de precios de transferencia
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="settings-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">
                                    Servicios legales
                                </h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Litigios y Arbitrajes
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Licitaciones y contrataciones públicas
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Asesoría y contratación en El Salvador
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Asesoría en desarrollo urbanístico,
                                        proyectos de construcción, auditoría legal
                                        inmobiliaria
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Derecho Regulatorio
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Derecho de familia y laborales
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                        <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                            <div class="service">
                                <ion-icon name="book-outline" class="service__icon"></ion-icon>
                                <h4 class="service__title">
                                    Elaboración de manuales de prevención de lavado de dinero y activos
                                </h4>
                                <ul class="service__list">
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Auditorías sobre cumplimiento de
                                        prevención de lavado de dinero y activos
                                    </li>
                                    <li>
                                        <ion-text color="secondary">□</ion-text> Evaluación de políticas y
                                        procedimientos
                                        relacionados con PLD.
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-footer></app-footer>
</ion-content>