.container {
  padding: 100px 0;
}

//PHONE
@media (max-width: 990px) {
  .container {
    padding: 50px 0;
  }
  ion-grid {
    margin: 0 !important;
    padding: 0 16px;
    .service {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
